@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
body {

    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(360deg, white,red);

}


.pokebola {

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;


}

.pokebolarolar {

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: 200ms;
    animation-name: rolar;
    animation-duration: 3s;


}

#topo {

    width: 400px;
    height: 200px;
    background-color: red;
    border-radius: 300px 300px 0 0;
    position: absolute;
    margin-top: -200px;
    box-shadow: 5px 10px 20px 5px black inset;

}

#base {

    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 0 0 300px 300px;
    position: absolute;
    margin-top: 200px;
    box-shadow: 5px 10px 20px 10px black inset;


}

#faixa {

    width: 400px;
    height: 30px;
    background-color: black;
    position: absolute;
    border-radius: 2px 2px 3px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

#botao {

    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;


}

#botao2 {

    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#botao3 {

    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: rgb(116, 110, 110);

}

#botao3:hover {

    background-color: rgb(77, 75, 75);
    cursor: pointer;

}

#pokemon {

    position: absolute;

}

#img {

    visibility: hidden;

}

#imgPokemon {

    width: 400px;
    height: 350px;
    margin-top: -150px;
    visibility: visible;

}


#abrirTopo {

    width: 400px;
    height: 200px;
    box-shadow: 5px 10px 20px black inset;
    background-color: red;
    border-radius: 300px 300px 0 0;
    animation-name: abrir;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transform: rotate(-70deg);
    transition: 200ms;
    z-index: 2;

}

@keyframes abrir {

    from {

        margin-top: -200px;


    }

    to {
        margin-right: 450px;
        margin-top: -470px;
    }

}

@keyframes rolar {

    33% {
        transform: rotate(-20deg);

    }

    66% {

        transform: rotate(20deg);


    }

    100% {

        transform: rotate(-20deg);

    }



}

#botaoAbrir {

    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: rgb(116, 110, 110);
    animation-name: btnAbrir;
    animation-duration: 3s;

}

@keyframes btnAbrir {


    33% {
        background-color: red;

    }

    66% {

        background-color: rgb(116, 110, 110);



    }

    100% {

        background-color: red;

    }



}

.logo{

    display: flex;
    justify-content: center;
    align-items: center;

}

#pokelogo{

    width: 550px;
    height: 240px;
    margin-bottom: 400px;

}

#ir{

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}

#capturar{

    height: 50px;
    width: 130px;
    border-radius: 8px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;


}

#capturar:hover{

    cursor: pointer;
    transform: scale(1.1);
    transition: 200ms;
    border: 3px solid black;
    background-color: red;
    color: white;
    font-family: 'Pokemon Solid', sans-serif;
                                                

}

@media screen and (max-width: 700px) {
    

    #pokelogo{

        width: 350px;
        height: 140px;
        margin-bottom: 400px;
    
    }
    

}

.icon{

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 500px;

}

#github{

    height: 50px;
    width: 50px;

}

#github:hover{

    transform: scale(1.1);
    cursor: pointer;

}

span{

    font-size: 15px;
    font-family: 'Pokemon Solid', sans-serif;
    margin: 20px;
  

}