body {

    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(360deg, red, white);

}


.pokebola {

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}

#topo {

    width: 400px;
    height: 200px;
    background-color: red;
    border-radius: 300px 300px 0 0;
    position: absolute;
    margin-top: -200px;

}

#base {

    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 0 0 300px 300px;
    position: absolute;
    margin-top: 200px;

}

#faixa {

    width: 400px;
    height: 30px;
    background-color: black;
    position: absolute;
    border-radius: 2px 2px 3px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

#botao {

    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;


}

#botao2 {

    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#botao3 {

    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: rgb(116, 110, 110);

}

#botao3:hover {

    background-color: rgb(77, 75, 75);
    cursor: pointer;

}

#pikachu{

position: absolute;

}

#img{

    visibility: hidden;

}

#imgPikachu{

    width: 400px;
    height: 350px;
    margin-top: -150px;


}


#abrirTopo {

    width: 400px;
    height: 200px;
    background-color: red;
    border-radius: 300px 300px 0 0;
    animation-name: abrir;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transform: rotate(-70deg);
    transition: 200ms;
    z-index: 2;

}

@keyframes abrir {

    from{

        margin-top: -200px;


    }

    to{
        margin-right: 450px;
        margin-top: -470px;
    }

}